<app-home-nav></app-home-nav>
<div class="container-profile">

  <div class="container-profile-user" >
    <div style="margin-right: 30px;" >
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" 
          style="border-radius: 50%;margin:0px 60px;" width="152" height="152" />
    </div>
    <div>
      <span style="font-size: 25px;margin-right: 20px;" >NombreUsuario</span> 
      <button mat-button>Editar Perfil</button>
      
      <div style="display: flex; margin-top:20px;" >
        <div style="margin-right: 30px;"><b>170</b> publicaciones</div>
        <div style="margin-right: 30px;"><b>224</b> seguidores</div>
        <div style="margin-right: 30px;"><b>312</b> seguidos</div>
      </div>

      <div>
        <h2>Juan Maldonado</h2>
      </div>

    </div>
  </div>  

  <hr/>

  <div class="container-profile-posts">
    <div> 
      <img src="https://material.angular.io/assets/img/examples/shiba1.jpg"
           style="margin-right:22px;width:285px; height:285px;" />
    </div>
    <div>
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg"
        style="margin-right:22px;width:285px; height:285px;" />
    </div>
    <div>
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg"
        style="margin:0px;width:285px; height:285px;" />
    </div>


  </div>

</div>