<div class="container-login">

    <mat-card  style="margin-top:30px;" >
      <mat-card-title>Registro</mat-card-title>
      <mat-card-content>
  
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="usuario o correo electrónico">
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Correo Electronico">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre completo">
              </mat-form-field>
  
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Contraseña">
          </mat-form-field>
  
          <button style="width: 100%;" mat-flat-button>Registrate</button>
  
          <div style="text-align: center; padding-top: 20px;" >
              Al registrarte, aceptas nuestras Condiciones, la Política de datos y la Política de cookies.
          </div>
  
  
      </mat-card-content>
    </mat-card>
  
  
    <mat-card  style="margin-top:20px; text-align: center;" >
      ¿Tienes una cuenta? <a routerLink="/login">Inicia sesión</a>
    </mat-card>
  </div>